html {
	margin-bottom: 75px;
}

* {
	font-weight: lighter;
}

#search-again {
	float: right;
}

#search-results {
	float:left;
	width: 40%;
}

.result-list-item {
	height: 100px;
	cursor: pointer;
	-o-transition:.4s;
  	-ms-transition:.4s;
  	-moz-transition:.4s;
  	-webkit-transition:.4s;
  	/* ...and now for the proper property */
  	transition:.4s;
}

.result-list-item:hover {
	padding-left: 3px;
} 

.twitter_id {
	display: none;
}

#employee-details {
	position: fixed;
	margin-right: 10px;
	width: 55%;
	right: 0;
	overflow-x: scroll;
	height: 80vh;
}

.wrapper {
	margin: 0px 19px 19px 19px;
}

.pure-menu {
	height: 50px;
}

nav {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-right: 19px;
}