#headers:before,
#headers:after {
    content: "";
    display: table;
}

#headers:after {
    clear: both;
}

#right-header {
	float: right;
}

#left-header {
	float: left;
}

#pic {
	float: left;
}

#pic img {
	height: 100px;
	width: 100px;
}

#name-location {
	float: left;
	margin-left: 10px;
	width: auto;
}

#summary {
	float: left;
}

#messages {
	margin-top: 17px;
	float: right;
}

#employee-quick-view {
	margin-top: 20px;
	margin-right: 13px;
}

#body {
	margin-top: 20px;
}

#body:before,
#body:after {
    content: "";
    display: table;
}

#body:after {
    clear: both;
}