<div id="employee-quick-view">
	<div id="pic">
		<img src=<%= @profile_pic %>>
	</div>

	<div id="headers">
		<div id="left-header">
			<div id="name-location">
				<strong><%= @name %></strong><% if @contacted %> <%= "(contacted)" %> <% end %><br>
				<%= @location %><br>
			</div>
		</div>

		<div id="right-header">
				<%= link_to("@#{@screen_name}", @twitter_profile, target: "blank") %><br>
				<% @urls.each do |url| %>
					<%= link_to(url, url, target: "blank") %><br>
				<% end %>
		</div>
	</div>
	<hr>
	<%= @description %>

	<div id="body">
		<div id="summary">
			<div>
				<h3>Summary</h3>
				<ul>
					<li>Total Tweets: <%= @total_tweets %> </li>
					<li>Followers: <%= @followers %> </li>
					<li><% if @following %> You're following <% else %> Not following yet <% end %> </li>
				</ul>
			</div>
		</div>
		
		<div id="messages">
			<div id="direct-message">
				<%= form_tag("/twitter_api/direct_message/#{@screen_name}", method: "post", class: "pure-form", remote: true) do %>
				  <%= text_area_tag("text", "needs further authentication to work", size: "25 x 5") %>
				  <%= submit_tag("Message", class: "pure-button") %>
				<% end %>
			</div>
			<br>
			<div id="tweet">
				<%= form_tag("/twitter_api/tweet", method: "post", remote: true, class: "pure-form") do %>
				  <%= text_area_tag("text", "needs further authentication to work", size: "25 x 5") %>
				  <%= submit_tag("Tweet", class: "pure-button") %>
				<% end %>
			</div>
		</div>
	</div>

	<% unless @contacted %>
		<div id="contacted-checkbox">
			<%= form_tag("/twitter_api/contacted_employee/#{@cached_user['twitter_id']}", method: "post", remote: true, class: "pure-form") do %>
			  <%= check_box_tag("contacted?", value = "yes", checked = false) %> Contacted <br><br>
			  <%= submit_tag("Update", class: "pure-button") %>
			<% end %>
		</div>
	<% end %>
</div>