<!DOCTYPE html>
<html>
<head>
  <title>TwitterSearch</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="navbar">
	    <nav>
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
			    <a href="/" class="pure-menu-heading">RJM Twitter Scout</a>

			    <ul id="search-again">
			        <li>
			        	<div>
							<form action="/twitter_api/find_employees" class="pure-form">
								<input name="company_name" placeholder="search" type="text" class="pure-input-rounded">
							</form>
						</div>
					</li>
			    </ul>
			</div>
		</nav>
	</div>

<%= yield %>

</body>
</html>
