<div class="wrapper">

	<br>
	<div id="search-results">
		<p id="results-title">Twitter users that may be associated with <%= @query %>: </p>
		<center>
			<span> 
				&nbsp; &nbsp; &nbsp;
				<%= link_to "Previous Page", controller: "twitter_api", action: "find_employees", company_name: @query, page_num: @page - 1 %>
				&nbsp; &nbsp;
				<%= @page %> 
				&nbsp; &nbsp;
				<%= link_to "Next Page", controller: "twitter_api", action: "find_employees", company_name: @query, page_num: @page + 1 %>
			</span>
		</center>

		<ol>
			<% @twitter_users.each do |user| %>
				<li class="result-list-item" onclick="getDetails($(this).children('.twitter_id').text())">
					Name: <%= user.name %><br><br>
					<%= user.description %>

					<!-- hidden field -->
					<div class="twitter_id"><%= user.id %></div>
				</li>
				<hr>
			<% end %>
		</ol>
		
		<center>
			<span> 
				&nbsp; &nbsp; &nbsp;
				<%= link_to "Previous Page", controller: "twitter_api", action: "find_employees", company_name: @query, page_num: @page - 1 %>
				&nbsp; &nbsp;
				<%= @page %> 
				&nbsp; &nbsp;
				<%= link_to "Next Page", controller: "twitter_api", action: "find_employees", company_name: @query, page_num: @page + 1 %>
			</span>
		</center>
	</div>

	<div id="employee-details">
		
	</div>
</div>